*
{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --gradient: linear-gradient(
        45deg,
        #7fffd485,
        #4d4d9985,
        #4a997f8a,
        #cf75cfb0,
        #7fe1ff85,
        #994d4d85,
        #834a998a,
        #cf7575b0
    );
}
body
{   
    background-repeat: no-repeat;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bk-animation 20s infinite alternate;
    color: #333;
    min-height: 100vh;
}
nav 
{   
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background: #23232e;
    height: 4vh;
    padding-bottom: 10px;
}
.nav-list li
{
    display: inline;
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
    opacity: 0,5;
}
.nav-list li a 
{    
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0px;
    margin-right: 300px;
}
h1
{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
}
.description
{   
    display: flex;
    color: black;
    padding: 20px 20px;
    text-shadow: 3px 3px 6px #ffffff;
    font-weight: 700;
    font-size: 24px;
}
section
{   
    background-color: #ffffff8c;
    border-radius: 20px;
    padding-top: 10px;
    margin: 0 auto;
    width: 700px;
}
section form
{   
    position: relative;
    display: grid;
    min-width: 300px;
    min-height: 400px;
}
input
{
    display: flex;
    align-self: center;
    height: 40px;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
}
.place
{
   font-size: 18px;
   background-color: #000000a1;
   color: #fff;
   border-color: #fff;
   margin-left: 20px;
   margin-right: 20px;
}
input::placeholder
{
    color: white;
    font-size: 18px;
}

input, label
{
    display: inline;
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    color: #6b6d00;
}
.check
{
   display: inline;
   border: 2px solid white;
   width: 20px;
}
@keyframes bk-animation
{
    0%
    {
        background-position: left;
    }
    100%
    {
        background-position: right;
    }
}